@import 'variables';

$avatar-size: 24px;

.card {
  background-color: #f2f2f2;
  margin: 16px 0;
  width: 100%;
  border: 1px solid #f2f2f2;
  border-radius: 12px;
  cursor: pointer;

  &-new {
    width: 100%;
    border: 1px dashed #808080;
    border-radius: 12px;
    padding: 30px 0;
    text-align: center;
  }

  &-content {
    padding: 16px 16px;
  }

  &-menu {
      display: flex;
      justify-content: space-between;
  }

  &-title {
    font-size: 12px;
    margin-bottom: 4px;
  }
  
  &-text {
    font-size: $text-p-size;
    margin-bottom: 6px;
    color: $text-p-color;
  }

  &-deadline {
    font-size: $text-p-size;
    margin-bottom: 6px;
    color: $text-p-color;
  }

  &-avatar {
    width: $avatar-size;
    height: $avatar-size;
    border-radius: 100%;
  }

  &-comment-img {
    width: 20px;
    height: 20px;
    opacity: 0.4;
  }

  &-eyecatch {
    height: 180px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 100%;
    }
  }

}